/* Variables */
:root {
  --color: #2f527b;
  --bg-color: #fff;
  --bg-color-correct-answer: #60bf88;
  --bg-color-wrong-answer: #ea8282;
  --bg-color-hover-clicked: #f9a826;
  --border-color: #6066d0b2;
  --title-color: #f2f2f2;
}

/* Main page styling*/
body {
  place-content: center;
  display: grid;
  min-height: 100dvh;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

header {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin-bottom: -1.4rem;
}

h1 {
  color: var(--title-color);
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

.title {
  display: grid;
  justify-items: center;
  align-items: center;
}

h2,
h3 {
  display: block;
  color: var(--color);
  font-size: 1.5rem;
  font-weight: 700;
  word-wrap: break-word;
  margin: 0.4rem 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

main {
  width: 30rem;
  aspect-ratio: 460/515;
  background: var(--bg-color);
  border-radius: 24px;
  margin: auto;
}

.options {
  display: grid;
  place-content: center;
  gap: 1rem;
}

a {
  display: block;
  text-decoration: none;
}

.btn {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--color);
  border: 2px solid var(--border-color);
  border-radius: 12px;
  height: 2rem;
  width: 20rem;
  padding: 2rem;
}

.btn:hover,
.btn:active {
  background: var(--bg-color-hover-clicked);
}

.btn-option {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  align-content: center;
  justify-content: flex-start;
}


.correct-answer {
  background: var(--bg-color-correct-answer);
}

.correct-answer:hover,
.correct-answer:active {
  background: var(--bg-color-correct-answer);
}

.wrong-answer {
  background: var(--bg-color-wrong-answer);
}

.wrong-answer:hover,
.wrong-answer:active {
  background: var(--bg-color-wrong-answer);
}

section {
  display: grid;
  align-content: center;
  padding: 2rem;
  height: 100%;
  gap: 4rem;
}

.country-flag {
  width: 84px;
  height: 54px;
}